* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: #FFEF00;

}

#main {
    font-style: normal;
    text-transform: uppercase;
    display: block;
    margin-top: 50px;
    font-size: 10vw;
    text-align: center;
    text-shadow: #FFEF00 0px 0px 10px;

}

footer {
    position: fixed;
    padding-top: 10px;
    bottom: -70px;
    color: whitesmoke;
    font-size: large;
    text-align: center;
    width: 100%;
    transition: bottom 500ms;
    background-color: rgba(255, 255, 255, 0.2);
}

footer:hover {
    bottom: 0px;
}

footer>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer li {
    padding-top: 25px;
}

footer img {
    height: 50px;
    margin: 0px 25px;
}

#logo {
    width: 100px;
    position: fixed;
    z-index: 2;

}

.fichero {
    padding-top: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.ficha {
    max-width: 24%;
    margin: 5px;
    overflow: hidden;
}
.map {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
        
}
.formulario{
    width: 50%;
}

video {
    width: 100%;
}

.ficha img {
    max-height: 400px;
    size: cover;
}

.world {
    max-width: 27%;
    min-width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 35px;
    border-radius: 5px;
    object-fit: cover;
}
.map>div{
    max-width: 70%;
    flex-grow: 2;
}
.ficha h3 {
    font-size: large;
    font-weight: 300;
}

p {
    font-size: 1em;
    font-weight: 100;
}

p::first-letter {
    font-size: 1.1em;
    color: #FFEF00;
}

/* Menu de navegación  */

.menu {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

ul.menu li {
    font-size: larger;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 15px;
    transition: all ease 250ms;

}

p > a {
    color:#FFEF00;
}
p > a:hover {
    letter-spacing: 10px;
    background-color: whitesmoke;
    color: black;
    border: #FFEF00 2px;
    font-weight: 800;
}

.active {
    color: black;
    background-color: whitesmoke;
    border: 3px #FFEF00 solid;
}

ul.menu li a:hover {
    background-color: whitesmoke;
    color: black;

}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}

.bloque {
    width: 90%;
    margin-top: 5px;
    font-size: x-large;
    color: azure;

}

.bloque:last-child {
    margin-bottom: 100px;
}

.bloque>h2 {
    padding-left: 20px;
}

.bloque p {
    padding-top: 0.3em;
}

.bloque>p::first-letter {
    color: #FFEF00;
    font-size: x-large;
}

.aclaracion {
    font-weight: 100;
    font-size: 0.8em;
    text-transform: lowercase;
    vertical-align: super;

}

.aclaracion::before {
    content: "(";
}

.aclaracion::after {
    content: ")";
}

body {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

table.responsive {
    width: 100%;
    margin: auto;
    padding-bottom: 35px;
}

table.responsive caption {
    text-align: left;
    padding-left: 20px;
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}

table.responsive th {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFEF00;
    text-decoration: underline;
}

table.responsive tr {
    display: block;
    float: left;
    max-width: 24%;
    text-align: left;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;


}

table.responsive td {
    display: block;
    width: 100%;
    padding: 15px;
    height: 20em;

}
table.responsive td:nth-last-child(2){
    height: 6em;
}

table.responsive td:last-child{
    height: 7em;
}

table.responsive div {
    display: flex;
    height: 150px;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
}

table.responsive div>img {
    width: 100px;
    flex-basis: 100px;
}

table.responsive h4 {
    color: #26785F;

}

table.responsive hr {
    margin-top: 15px;
}

table.responsive p {
    text-align: justify;
    font-size: 0.8em;
    text-indent: 1em;
}

table.responsive ul {
    list-style-image: url(resources/bullet.png);
    margin-top: 20px;
}

table.responsive li {
    font-size: 0.7em;

    position: relative;

}

table.responsive li>span {
    position: relative;
    top: -15px;
}

div.price {
    font-size: 1.2em !important;
    color: #FFEF00;
    width: 100%;
    height: 100px !important;
}

button, select, .label_fake, input[Type="submit"] {
    width: 100%;
    height: 2em;
    background-color: #FFEF00;
    color: black;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    transition: all 500ms;
    cursor: pointer;
}

.label_fake{
    display: inline-block;
    padding-top: 6px;
    font-size: 20px;    
}
input, textarea {
    width: 100%;
    padding: 5px;
    
}

textarea{
    min-height: 139px;
    resize: none;
}

label{
    min-width: 100%;
    margin-bottom: 0.2em;
    
    }
    
button:hover {
    letter-spacing: 5px;
    box-shadow: 0px 0px 10px #FFEF00;
}

.simulador {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: #FFEF00 2px solid;
    border-radius: 10px;
}
.election {
    min-width: 100px;
}
.foto {
animation: letrasguay 1.5s infinite alternate;
}
.foto:hover .oculta {
display: block;
visibility: visible;
left: 50%;
top: 50%;
margin-left: -225px;
margin-top: -250px;
}

.oculta {
    display: none;
    position: fixed;
    width: 450px;
    height: 280px;
    border-radius: 25px;
    box-shadow: 0px 0px 100px #FFEF00;
    transition: all 10s;
    }

#origen, #destino {
    background-attachment: scroll;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    margin: 25px auto;
    height: 90vh;
    width: 60%;
    background-position: center center;
}

#origen {
    background-image: url(/resources/anonimo.png);
}

#destino {
    background-image: url(/resources/noise.gif);
    animation: generando 2s ease-out 1s 1 forwards;
    border-radius: 15px;
}

@keyframes letrasguay {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px #0fa,
          0 0 80px #0fa,
          0 0 90px #0fa,
          0 0 100px #0fa,
          0 0 150px #0fa;
      }
      20%, 24%, 55% {       
        text-shadow: none;
      }
    
}

@keyframes generando {
    from {
        background-image: url(/resources/noise.gif);
    }

    to {
        background-image: url(/resources/monkey.jpg);
    }
}

input[type="file"] {
    z-index: -1;
    visibility: hidden;
}

.simulador span {
    padding: 0.2em 0.5em;
    margin: 0px 10px;
    font-weight: bolder;
    background-color: #FFEF00;
    color: #26785F;
    border-radius: 50px;
}

.simulador >form {
    width: 100%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

fieldset{
    border: whitesmoke 1px solid;
    border-radius: 5px;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 15px;
}
form div {
    flex-grow: 1;
    margin: 10px;
}
.fieldmain {
    width: 66%;
    margin: 10px;
    
}

@media (max-width:1024px) {
    table.responsive tr {
        max-width: 32%;
    }
    .formulario{
        min-width: 100%;
    }
    .ficha {
        max-width: 30%;
    
    }
    p{
        font-size: 0.8em;
    }
}

@media (max-width:720px) {
    table.responsive tr {
        max-width: 49%;
    }
    .formulario{
        min-width: 100%;
    }
    .ficha {
        max-width: 40%;
     
    }

    .menu {
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        

    }

    ul.menu li {
        font-size: larger;
        font-weight: bold;
        line-height: 1.2em;
        border: none;
    }

    a {
        
        border-radius: 10px;
        vertical-align: middle;
    }
    .active {
    border: none;
}

}

@media (max-width:520px) {
    table.responsive tr {
        max-width: 100%;
    }
    .ficha {
        max-width: 100%;
        margin: auto;
    }
    .formulario{
        min-width: 100%;
    }



}